body, button, input, select, textarea {
  font-family: 'Lato', sans-serif !important;
}

.notices .toast.is-warning {
  color: rgba(255, 255, 255, 1.0) !important;
}

.notices .toast {
  padding: 0.5em 1em !important;
}


.lg {
  color: rgb(204, 255, 144);
}

a:hover {
  color: rgb(204, 255, 144) !important;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}